


img{
    width: 100px;
    text-align: center;
}


div input{
    background-color: white;
}


.st-emotion-cache-sxup30.ef3psqc11{
background-color: rgb(255, 255, 255);
color: white;
border-style: groove;
border-color: aliceblue;
}

p{
    /* color: rgb(88, 153, 51); */
    font-weight: bold;
    color: rgb(87, 79, 79);
}
.st-emotion-cache-hd600g.e1nzilvr5{
    padding: 6px;
    border-radius: 6px;
    color: black;
}
.st-emotion-cache-183lzff.exotz4b0{
    background-color: rgb(58, 133, 34);
    border-radius: 4px;
    padding: 5px;
}

.st-emotion-cache-aw8l5d.eczjsme1{

    background-color: white;
}
.st-emotion-cache-6qob1r.eczjsme3{
    background-color: rgb(0, 0, 0);
}
.st-emotion-cache-1avcm0n.ezrtsby2{
    background-color: white;
}


.main.st-emotion-cache-uf99v8.ea3mdgi5{
    background-color: white;
}
